.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evita el scroll dentro del modal */
  }

.carousel-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;/* Asegúrate de que el carrusel esté encima de otros elementos */
}

.carousel-image {
    max-height: 100%; /* Limita la altura de la imagen */
    object-fit: contain; /* Mantiene las proporciones de la imagen */
}

.nav-button {
    padding: 3rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 10;
    display: flex; /* Usa flexbox para centrar el contenido */
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center;
}

.mat-icon {
    width: 100%;
    height: 100%;
    font-size: 4rem;
    font-weight: 100;
    color: white;
}

@media (max-width: 480px) {
    .carousel-image {
        max-width: 60%; 
    }
}
