<div class="floating-box">
  <button class="vertical-button" (click)="togglePanel()">Statement</button>
</div>
<div [ngClass]="{'side-panel': true, 'slide-out': isClosing}" *ngIf="isPanelOpen">
  <div class="side-panel-content">
    <button class="close-button" (click)="togglePanel()">×</button>
    <h2>Statement</h2>
    <p>Marcia Ruiz Bochides, reside en Buenos Aires, es una artista transdisciplinaria cuya práctica abarca la escultura, la instalación, el video y la performance. Graduada de la UNA y estudiante de la Maestría en Artes Electrónicas en la UNTREF, también se ha formado en diversos lenguajes como fotografía, animación, teatro físico y dibujo performático en talleres y seminarios. 
      Ha participado en numerosas muestras tanto colectivas como individuales, incluyendo la XIII Bienal de La Habana, y ha realizado una residencia en RARO Madrid. Su obra investiga cómo los espacios influyen en nuestras formas de vida y corporalidad, con un interés particular en la práctica artística como medio para la construcción de conocimiento y la creación de redes colectivas.
    </p>
  </div>
</div>
