<div *ngIf="project" class="project-container">

    <div class="grid-line"></div>
    <div class="project-intro">
        <h2 class="project-title">{{ project.title }}</h2>
        <p class="project-text">{{ project.description }}</p>
    </div>

    <div class="project-info">
        <div class = "date">
            <p class="label">Fecha</p>
            <p class="project-info-value">{{project.year}}</p>
        </div>
        <div class = "site">
            <p class="label">Lugar</p>
            <p class="project-info-value">{{project.site}}</p>
        </div>
        <div class = "technique">
            <p class="label">Técnica</p>
            <p class="project-info-value">{{project.technique}}</p>
        </div> 
    </div>

    <div class="project-files">
        <div *ngFor="let file of project.projectFiles; let i = index" class="project-file-item">
            <video *ngIf="file.type === 'VID'" [src]="file.url" controls>
                Your browser does not support the video tag.
            </video>
            <img *ngIf="file.type === 'IMG'" [src]="file.url" alt="Project file" (click)="openCarousel(i, file.url)">
          <p class="project-files-text" *ngIf="file.textEs">{{file.textEs}}</p>
        </div>
    </div>
</div> 