/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --breakpoint-xs: 480px; /* phone */
    --breakpoint-s: 768px; /* tablet */
    --breakpoint-m: 1024px; /* desktop */

    --font-size-xs: 1.6rem;
    --font-size-s: 1.8rem;
    --font-size-m: 2rem;

    --primary-font: 'Chivo', sans-serif;
    --secondary-font: 'Archivo', sans-serif; 

    --primary-color: #062726;
    --secondary-color: #ADADAD;
    --background-color: #FFFFFF;
    --background-color1: #F5FBEF;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    margin: 0px 18rem 0px 18rem;
    height: 100%;
    background-color: var(--background-color);
}

body {
    margin: 0;
    height: 100%;
}

@media (max-width: 480px) {
    html {
        margin: 0rem 2rem 0rem 2rem;
        font-size: 50%; 

    }
}

@media (min-width: 481px) and (max-width: 768px) {
    html {
        margin: 0rem 6rem 0rem 6rem;

    }
}

@media (min-width: 769px) {
    html {
        margin: 0rem 18rem 0rem 18rem;

    }
}


  /* Estilos para matdialog */

  .full-screen-dialog .mat-dialog-container {
    width: 100vw !important;
    height: 100vh !important;
    padding: 0; /* Elimina el padding para asegurar que el contenedor ocupe todo el espacio */
    overflow: hidden; /* Evita el scroll dentro del contenedor */
    transition: none;
    position: absolute; /* Elimina las transiciones */
  }


.cdk-overlay-pane {
    /*width: 100vw !important;*/
    /*height: 100vh !important;*/
    max-width: none !important;
    max-height: none !important;
    transition: none !important;
    position: absolute;
  }

.cdk-global-scrollblock {
    position: static !important; /* Mantener el control sobre el flujo del layout */
    width: calc(100% - 17px); /* Ajusta según el ancho del scrollbar */
    padding-right: 17px !important; /* Compensa la eliminación del scroll */
    overflow: hidden !important; 
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


div.mat-mdc-select-panel{
    background: transparent !important;
    border-radius: none !important;
    box-shadow: none !important;
    font-size: 2rem !important;
    color: var(--primary-color);
  }

  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple){
    background-color: transparent !important;
  }

  

  .mat-mdc-option{
    font-size: 2rem !important;
    color: var(--primary-color) !important;
    font-weight: 100 !important;
    align-items: center !important;
    padding: 0 !important;
    font-family: 'Archivo', sans-serif !important;
  }

  .mat-mdc-option:hover {
    background-color: transparent !important;
  }


  app-processing {
    width: 100wh;
    height: 100vh;
  }